@charset "UTF-8";
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Zen Maru Gothic", serif;
  background-color: #FBFBF0;
  line-height: 1.7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 3%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 3%;
}

.section-title {
  text-align: center;
  /* タイトルを中央揃えに変更 */
  margin: 40px 0px;
}
.section-title .en {
  font-family: "Rubik Dirt", system-ui;
  font-size: 3.2rem;
  color: #364178;
  display: inline-block;
  /* inline-blockを維持 */
  position: relative;
  margin-bottom: 10px;
  /* 下の日本語との間隔を調整 */
}
@media screen and (max-width: 768px) {
  .section-title .en {
    font-size: 2.4rem;
  }
}
.section-title .en::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  /* アンダーラインをテキスト幅に合わせる */
  height: 4px;
  background-color: #000;
}
.section-title .ja {
  font-size: 1.6rem;
  color: #364178;
  display: block;
  /* 日本語を下に配置 */
  margin-top: 10px;
  /* 英語と日本語の間にスペースを追加 */
}
@media screen and (max-width: 768px) {
  .section-title .ja {
    font-size: 1.6rem;
  }
}

.btn {
  padding: 20px 20px;
  border-radius: 30px;
  margin-left: auto;
  /* 左右のマージンを自動で調整 */
  margin-right: auto;
  /* 左右のマージンを自動で調整 */
  display: block;
  /* ブロック要素にすることで中央配置が有効に */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* ボタンの幅をコンテンツに合わせる */
}
.btn a {
  color: #fff;
  display: block;
  text-align: center;
  /* テキストを中央揃え */
  text-decoration: none;
  /* リンクの下線を削除 */
  font-size: 1.6rem;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../img/a746ed11-6a37-45dd-9662-9a4407665aa0.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .loader-item {
  display: flex;
  flex-direction: column;
  /* 子要素を縦に並べる */
  justify-content: center;
  align-items: center;
  /* 画像とテキストを中央揃えに */
  position: relative;
}
.loader img {
  width: 350px;
}
.loader .txt {
  font-size: 3.2rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 2px #555;
  display: none;
  z-index: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 2s;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3%;
}
@media screen and (max-width: 768px) {
  .header {
    height: 50px;
  }
}
.header-logo img {
  width: 180px;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .header-logo img {
    width: 90px;
    height: 50px;
  }
}
.header .header-nav {
  text-align: center;
}
.header .header-nav .header-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .header .header-nav .header-nav-list {
    flex-direction: column;
    justify-content: flex-start;
    /* 左寄せにする */
    align-items: baseline;
    margin-top: 120px;
    margin-left: 20px;
  }
}
.header .header-nav .header-nav-list li {
  font-size: 1.6rem;
  align-items: center;
  margin: 0 20px;
}
@media screen and (max-width: 768px) {
  .header .header-nav .header-nav-list li {
    margin: 20px 0px;
  }
}
.header .header-nav .header-nav-list li a {
  color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  /* 要素を縦方向に並べる */
  align-items: center;
  /* アイコンとテキストを中央揃えにする */
}
@media screen and (max-width: 768px) {
  .header .header-nav .header-nav-list li a {
    flex-direction: row;
    /* SP時は横並び */
    justify-content: flex-start;
    /* 左寄せにする */
    align-items: center;
    /* 縦方向は中央揃え */
    gap: 8px;
    /* アイコンとテキストの間に余白を追加 */
    width: 100%;
    text-align: left;
    /* テキストとアイコンを左寄せ */
  }
}
.header .header-nav .header-nav-list li a::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: gray;
  position: absolute;
  inset: 110% auto auto 0;
  transform: scale(0, 1);
  transition: transform 0.2s ease-out;
}
.header .header-nav .header-nav-list li a:hover::before {
  transform: scale(1, 1);
}
.header .header-nav .header-nav-list li a i {
  display: inline-block;
  margin-right: 8px;
  /* SP時はアイコンとテキストの間に余白 */
  flex-shrink: 0;
  /* アイコンが縮小されないようにする */
}
@media screen and (max-width: 768px) {
  .header .header-nav .header-nav-list li a i {
    margin-right: 8px;
    flex-grow: 0;
    /* アイコンを左寄せに */
  }
}
.header .header-nav .header-nav-list li a span {
  display: inline-block;
  flex-grow: 1;
  /* テキストがアイコンの右側に広がるように */
}
.header .header-nav .header-nav-list li a .fa-house-chimney {
  color: #364178;
}
.header .header-nav .header-nav-list li a .fa-heart {
  color: rgb(254, 102, 102);
}
.header .header-nav .header-nav-list li a .fa-envelope {
  color: rgb(255, 230, 0);
}
.header .header-nav .header-nav-list li a .fa-clock {
  color: green;
}
.header .header-nav .top-page.btn {
  background-color: #FFEB14;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.5s;
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header-nav .top-page.btn {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header .header-nav .top-page.btn {
    font-size: 1.6rem;
  }
}
.header .header-nav .top-page.btn:hover {
  background-color: #4EC336;
}
.header .header-nav .top-page.btn:hover a {
  color: #FFEB14;
}
.header .header-nav .top-page.btn a {
  color: #4EC336;
  display: block;
}
@media screen and (max-width: 768px) {
  .header .header-nav .top-page.btn a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .header .header-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    opacity: 1;
    /* 透明度はここで1に設定して、ナビゲーション自体は透過しない */
    transition: all 0.5s;
    z-index: 20;
    background-color: #ffffff;
    /* 背景色はそのまま透過なし */
  }
  .header .header-nav::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/4864263_s.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    /* ここで背景画像のみを透過 */
    z-index: -1;
    /* 背景画像を下層に配置 */
  }
}
.header .header-nav.is-open {
  opacity: 1;
  right: 0;
}
.header .toggle-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .toggle-btn {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 30;
    cursor: pointer;
    transition: 0.3s;
  }
}
.header .toggle-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
  transition: 0.3s;
}
.header .toggle-btn.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.header .toggle-btn.active span:nth-child(2) {
  opacity: 0;
}
.header .toggle-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.breadcrumb {
  margin: 0;
  padding: 0.8% 3%;
  list-style: none;
  text-align: left;
  background-color: #efefef;
}
.breadcrumb li {
  display: inline;
  /*横に並ぶように*/
  list-style: none;
  font-weight: bold;
  font-size: 1.6rem;
  /*太字*/
}
.breadcrumb li:after {
  /* >を表示*/
  content: ">";
  padding: 0 0.2em;
  color: #555;
}
.breadcrumb li:last-child:after {
  content: "";
}
.breadcrumb li a {
  text-decoration: none;
  color: #555;
  /*色*/
}
.breadcrumb li a:hover {
  text-decoration: underline;
}

.info-menu {
  margin-top: 80px;
}
.info-menu .info-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4列のグリッド */
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .info-menu .info-item {
    grid-template-columns: 1fr;
    /* 1列に変更 */
  }
}
.info-menu .info-item .img {
  position: relative;
  border: 10px solid #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transform: rotate(-1.8075775001deg);
  transition: transform 0.3s;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .info-menu .info-item .img {
    width: 70%;
  }
}
.info-menu .info-item .img:hover {
  transform: rotate(0);
  /* ホバー時に回転をリセット */
}
.info-menu .info-item .img img {
  width: 100%;
  display: block;
}
@media (max-width: 768px) {
  .info-menu .info-item .img img {
    margin: 0 auto;
    /* 画像を中央揃え */
  }
}
.info-menu .info-item .img::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  width: 110px;
  height: 30px;
  background-image: url("../img/masking-tape-pattern.png");
  background-size: cover;
  /* 背景画像を全体にフィット */
  z-index: 2;
  border-radius: 2px;
  transform: translateX(-50%) rotate(-10deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.info-menu .info-item .text {
  text-align: center;
  padding: 5% 5%;
}
@media screen and (max-width: 768px) {
  .info-menu .info-item .text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
.info-menu .info-item .text .title {
  font-size: 2.4rem;
  margin: 20px 0px;
  color: #0f4114;
  font-weight: bold;
  text-shadow: 5px 5px 5px #ffffff;
}
@media screen and (max-width: 768px) {
  .info-menu .info-item .text .title {
    font-size: 2rem;
  }
}
.info-menu .info-item .text .description {
  font-size: 1.6rem;
  text-align: left;
  color: #000;
}
.info-menu .info-item .btn {
  background-color: #F2A9A8;
  margin-bottom: 20px;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.info-menu .info-item .btn a {
  color: #ffffff;
  text-shadow: 2px 2px 2px gray;
  display: block;
  text-align: center;
  /* テキストを中央揃え */
  text-decoration: none;
  /* リンクの下線を削除 */
  font-size: 1.6rem;
}
.info-menu .info-item .arrow-right {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  position: relative;
  width: 30%;
  height: 3px;
  background: currentColor;
  margin-left: auto;
  margin-right: 0;
}
.info-menu .info-item .arrow-right::before {
  content: "";
  width: 10px;
  height: 3px;
  border: 1px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  transform-origin: top right;
  position: absolute;
  top: 50%;
  right: -0.05em;
  box-sizing: border-box;
}

.yureru-j:hover {
  -webkit-animation: yureru-j 2s infinite;
          animation: yureru-j 2s infinite;
}
@-webkit-keyframes yureru-j {
  0% {
    transform: translate(0px, 2px);
  }
  5% {
    transform: translate(0px, -2px);
  }
  10% {
    transform: translate(0px, 2px);
  }
  15% {
    transform: translate(0px, -2px);
  }
  20% {
    transform: translate(0px, 2px);
  }
  25% {
    transform: translate(0px, -2px);
  }
  30% {
    transform: translate(0px, 0px);
  }
}
@keyframes yureru-j {
  0% {
    transform: translate(0px, 2px);
  }
  5% {
    transform: translate(0px, -2px);
  }
  10% {
    transform: translate(0px, 2px);
  }
  15% {
    transform: translate(0px, -2px);
  }
  20% {
    transform: translate(0px, 2px);
  }
  25% {
    transform: translate(0px, -2px);
  }
  30% {
    transform: translate(0px, 0px);
  }
}

#top-to-btn {
  display: none;
  /* 初期状態では非表示 */
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-image: url("../img/page top (2).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 20;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
  /* ふわふわと動くアニメーション */
}
@media screen and (max-width: 768px) {
  #top-to-btn {
    width: 50px;
  }
}

@-webkit-keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
footer {
  height: 860px;
  /* footerの高さに合わせる */
  background-image: url("../img/footer-img6.png");
  background-size: cover;
  /* 画像を切らずに全体を表示 */
  background-position: center;
  /* 中央に配置 */
  background-repeat: no-repeat;
  /* 画像を繰り返さない */
}
@media screen and (max-width: 768px) {
  footer {
    background-position: 0px 30px;
    /* 左から10px、上から30pxに調整 */
  }
}
footer .text {
  text-align: center;
  padding-top: 60px;
}
footer .text h3 {
  font-size: 3.2rem;
}
@media screen and (max-width: 768px) {
  footer .text h3 {
    font-size: 2.4rem;
  }
}
footer .text .tel {
  font-size: 6.4rem;
  color: #ff5722;
  text-shadow: 3px 3px 3px #e3e3e3;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  footer .text .tel {
    font-size: 4rem;
  }
}
footer .text p {
  font-size: 1.6rem;
  font-weight: 500;
}
footer .text p span {
  padding-right: 5px;
  font-weight: bold;
}
footer .text i.fa-phone-volume {
  margin-right: 8px;
  /* アイコンとテキストの間に余白を追加 */
}
footer .form.btn {
  background-color: #FFEB14;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  footer .form.btn {
    font-size: 1.6rem;
    margin-top: 10px;
    padding: 10px 20px;
  }
}
footer .form.btn:hover {
  background-color: #4EC336;
}
footer .form.btn:hover a {
  color: #FFEB14;
}
footer .form.btn a {
  color: #4EC336;
  display: block;
}
@media screen and (max-width: 768px) {
  footer .form.btn a {
    font-size: 1.6rem;
  }
}
footer .form.btn i.fa-envelope {
  margin-right: 8px;
  /* アイコンとテキストの間に余白を追加 */
}

.page-section-title {
  font-size: 3.6rem;
  text-align: center;
  margin: 100px 0px 60px 0px;
  font-weight: normal;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 768px) {
  .page-section-title {
    font-size: 2rem;
  }
}
.page-section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}
@media screen and (max-width: 768px) {
  .page-section-title:after {
    bottom: -10px;
  }
}

.top-page .mainvisual {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  /* 余計なはみ出しを隠す */
}
@media screen and (max-width: 768px) {
  .top-page .mainvisual .pc-mainvisual {
    display: none;
  }
}
.top-page .mainvisual .sp-mainvisual {
  display: none;
}
@media screen and (max-width: 768px) {
  .top-page .mainvisual .sp-mainvisual {
    display: block;
  }
}
.top-page .mainvisual img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* 画像全体を表示し、アスペクト比を保持 */
}
.top-page .mainvisual .copy {
  position: absolute;
  bottom: 10%;
  right: 10%;
  writing-mode: vertical-rl;
  font-family: "Kiwi Maru", serif;
}
@media screen and (max-width: 768px) {
  .top-page .mainvisual .copy {
    writing-mode: horizontal-tb;
    right: 5%;
    bottom: 8%;
  }
}
.top-page .mainvisual .copy p {
  font-size: 6.4rem;
  color: #ffffff;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.61);
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .top-page .mainvisual .copy p {
    font-size: 4rem;
  }
}
.top-page .mainvisual .copy p:nth-child(2) {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .top-page .mainvisual .copy p:nth-child(2) {
    margin-left: 40px;
    margin-top: 0px;
  }
}
.top-page .eachTextAnime span {
  opacity: 0;
}
.top-page .appeartext span {
  -webkit-animation: text_anime_on 3s ease-out forwards;
          animation: text_anime_on 3s ease-out forwards;
}
@-webkit-keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.top-page .firstText.appeartext span {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  /* 最初のテキストの遅延なし */
}
.top-page .secondText.appeartext span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  /* 2番目のテキストを2秒遅らせて表示 */
}
.top-page .message p {
  padding: 20px 80px;
  font-size: 1.8rem;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .top-page .message p {
    padding: 20px 20px;
  }
}
.top-page .message .btn {
  background-color: #364178;
  margin-top: 40px;
  margin-bottom: 40px;
}
.top-page .message .border {
  border-bottom: 5px dotted green;
  position: relative;
}
.top-page .message .border img {
  width: 150px;
  position: absolute;
  right: -40px;
  top: -150px;
}
@media screen and (max-width: 768px) {
  .top-page .message .border img {
    width: 75px;
    top: -75px;
    right: -10px;
  }
}
.top-page .about {
  position: relative;
}
.top-page .about .contents {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .top-page .about .contents {
    flex-direction: column;
  }
}
.top-page .about .contents .sun {
  position: absolute;
  top: 0;
  left: 10%;
}
@media screen and (max-width: 768px) {
  .top-page .about .contents .sun {
    left: 0;
    top: -3%;
  }
}
.top-page .about .contents .sun img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .top-page .about .contents .sun img {
    width: 25%;
  }
}
.top-page .about .contents .text {
  width: 50%;
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 30px;
}
@media screen and (max-width: 768px) {
  .top-page .about .contents .text {
    width: 100%;
    margin-bottom: 40px;
    padding: 20px 20px;
  }
}
.top-page .about .contents .text h3 {
  font-size: 3.2rem;
  color: #000;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 0px 0px 0px 10px;
  border-color: #FF8000;
}
@media screen and (max-width: 768px) {
  .top-page .about .contents .text h3 {
    font-size: 2.4rem;
  }
}
.top-page .about .contents .text p {
  font-size: 1.6rem;
}
.top-page .about .contents .img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .top-page .about .contents .img {
    width: 70%;
    margin-bottom: 40px;
  }
}
.top-page .about .contents .img img {
  width: 100%;
}
.top-page .about .contents.one .text {
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .top-page .about .contents.one .text {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .top-page .about .contents.two {
    flex-direction: column-reverse;
  }
}
.top-page .about .contents.two .text {
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .top-page .about .contents.two .text {
    margin-left: 0;
  }
}
.top-page .about .bird {
  width: 300px;
  /* 鳥のイラストのサイズに合わせて調整 */
  height: 100px;
  -webkit-animation: fly 3s ease-in-out infinite;
          animation: fly 3s ease-in-out infinite;
  position: absolute;
  bottom: -50px;
  right: 20px;
}
@media screen and (max-width: 768px) {
  .top-page .about .bird {
    width: 150px;
    bottom: -75px;
  }
}
.top-page .about .bird img {
  width: 100%;
  /* イラストが親要素にフィットする */
}
@-webkit-keyframes fly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    /* 鳥が上に飛ぶ */
  }
  100% {
    transform: translateY(0);
    /* 元の位置に戻る */
  }
}
@keyframes fly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    /* 鳥が上に飛ぶ */
  }
  100% {
    transform: translateY(0);
    /* 元の位置に戻る */
  }
}
.top-page .news {
  margin-top: 80px;
}
.top-page .news .news-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .top-page .news .news-list {
    grid-template-columns: none;
  }
}
.top-page .news .news-list li {
  font-size: 1.6rem;
  position: relative;
  /* 画像とテキストを重ねるためにrelativeを使用 */
  overflow: hidden;
  /* 子要素がはみ出ないようにする */
}
.top-page .news .news-list li a {
  color: #000;
}
.top-page .news .news-list li .img {
  position: relative;
  width: 100%;
  /* 画像の幅を100%にする */
  height: 200px;
}
.top-page .news .news-list li img {
  width: 100%;
  /* 画像の幅を親要素にフィット */
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  /* 画像のアスペクト比を保つ */
  transition: 0.3s ease;
  /* ホバー時の画像の変化をスムーズに */
}
.top-page .news .news-list li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* 半透明の黒いオーバーレイ */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  /* 初期状態では非表示 */
  transition: opacity 0.3s ease;
  /* ホバー時のフェードインをスムーズに */
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.top-page .news .news-list li .thumbnail {
  height: auto;
}
.top-page .news .news-list li .text {
  text-align: left;
  /* テキストを左寄せに */
  margin-top: 20px;
}
.top-page .news .news-list li:hover .img img {
  filter: brightness(50%);
  /* ホバー時に画像を暗くする */
}
.top-page .news .news-list li:hover .overlay {
  opacity: 1;
  /* ホバー時にオーバーレイを表示 */
}
.top-page .news .btn {
  background-color: #865E49;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 40px;
}
.top-page .news .btn a {
  color: #ffffff;
  display: block;
  text-align: center;
  /* テキストを中央揃え */
  text-decoration: none;
  /* リンクの下線を削除 */
  font-size: 1.6rem;
}
.top-page .access {
  margin-top: 80px;
  margin-bottom: 200px;
}
@media screen and (max-width: 768px) {
  .top-page .access {
    margin-bottom: 80px;
  }
}
.top-page .access .access-inner {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .top-page .access .access-inner {
    flex-direction: column;
  }
}
.top-page .access .access-inner .info {
  width: 50%;
  background-color: #fff;
  border-radius: 30px;
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .top-page .access .access-inner .info {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.top-page .access .access-inner .info .access-list {
  display: flex;
  font-size: 1.6rem;
  padding: 3% 5%;
}
@media screen and (max-width: 768px) {
  .top-page .access .access-inner .info .access-list {
    flex-direction: column;
  }
}
.top-page .access .access-inner .info .access-list dt {
  width: 20%;
}
.top-page .access .access-inner .info .access-list dd {
  width: 80%;
}
.top-page .access .access-inner .map-img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .top-page .access .access-inner .map-img {
    width: 100%;
  }
}
.top-page .access .access-inner .map-img img {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .top-page .access .access-inner .map-img img {
    width: 100%;
  }
}

.flow-page .mainvisual {
  position: relative;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 背景を疑似要素で指定 */
}
.flow-page .mainvisual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/4864263_s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  /* 透明度を設定 */
  z-index: -1;
  /* 背景をテキストの後ろに */
}
.flow-page .mainvisual p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  z-index: 1;
  /* テキストを前面に */
}
@media screen and (max-width: 768px) {
  .flow-page .mainvisual p {
    font-size: 2.4rem;
  }
}
.flow-page .flow {
  text-align: center;
  padding-bottom: 40px;
}
.flow-page .flow .flow-list {
  margin-top: 40px;
  background-color: #fff;
  padding: 40px;
}
.flow-page .flow .flow-list li {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .flow-page .flow .flow-list li {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
.flow-page .flow .flow-list li .img {
  width: 50%;
  position: relative;
  border: 5px solid #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  .flow-page .flow .flow-list li .img {
    width: 100%;
  }
}
.flow-page .flow .flow-list li .img span {
  position: absolute;
  top: -5%;
  left: 0;
  font-size: 10rem;
  font-family: "Caveat", cursive;
  color: #364178;
  /* テキストの色 */
  text-shadow: 3px 3px 3px #ffffff;
  display: flex;
  /* テキストを中央に揃えるためにフレックスボックスを使用 */
  justify-content: center;
  /* 水平方向に中央揃え */
  align-items: center;
  /* 垂直方向に中央揃え */
  text-align: center;
}
@media screen and (max-width: 768px) {
  .flow-page .flow .flow-list li .img span {
    font-size: 5.5rem;
  }
}
.flow-page .flow .flow-list li .img img {
  width: 100%;
  opacity: 0.5;
}
.flow-page .flow .flow-list li .img .number {
  position: absolute;
  top: -10%;
  left: 0;
  width: 20%;
}
.flow-page .flow .flow-list li .text {
  width: 50%;
  padding: 3% 5%;
}
@media screen and (max-width: 768px) {
  .flow-page .flow .flow-list li .text {
    width: 100%;
  }
}
.flow-page .flow .flow-list li .text .title {
  font-size: 3.2rem;
  margin-bottom: 20px;
  position: relative;
  padding: 0.6em;
  background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px, #ffe4b1 3px, #ffe4b1 8px);
  background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px, #ffe4b1 3px, #ffe4b1 8px);
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .flow-page .flow .flow-list li .text .title {
    font-size: 2.4rem;
    margin: 20px 0px;
  }
}
.flow-page .flow .flow-list li .text .title::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #ffebbe;
  width: 0;
  height: 0;
}
.flow-page .flow .flow-list li .text .description {
  font-size: 1.6rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .flow-page .flow .flow-list li .text .description {
    font-size: 1.6rem;
  }
}
.flow-page .pricing-table {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}
.flow-page table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  overflow: hidden;
}
.flow-page thead {
  background-color: rgb(246, 167, 11);
  color: white;
}
.flow-page thead th {
  padding: 15px;
  font-size: 1.6rem;
}
.flow-page thead th:first-child {
  border-top-left-radius: 20px;
  /* 左上に丸みを付ける */
}
.flow-page thead th:last-child {
  border-top-right-radius: 20px;
  /* 右上に丸みを付ける */
}
.flow-page tbody td {
  padding: 15px;
  border: 1px solid #ddd;
  font-size: 1.6rem;
  color: #333;
}
.flow-page tbody td:first-child {
  border-bottom-left-radius: 20px;
}
.flow-page tbody td:last-child {
  border-bottom-right-radius: 20px;
  /* 右下に丸みを付ける */
}
.flow-page tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.flow-page tbody tr:hover {
  background-color: #f1f1f1;
}
.flow-page tbody tr:last-child {
  border-bottom-left-radius: 20px;
  /* 左下に丸みを付ける */
}
.flow-page tbody tr:last-child {
  border-bottom-right-radius: 20px;
  /* 右下に丸みを付ける */
}
.flow-page .info-menu {
  margin-bottom: 250px;
}
@media screen and (max-width: 768px) {
  .flow-page .info-menu {
    margin-bottom: 80px;
  }
}

.schedule-page {
  text-align: center;
}
.schedule-page .mainvisual {
  position: relative;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 背景を疑似要素で指定 */
}
.schedule-page .mainvisual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/4864263_s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  /* 透明度を設定 */
  z-index: -1;
  /* 背景をテキストの後ろに */
}
.schedule-page .mainvisual p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  z-index: 1;
  /* テキストを前面に */
}
@media screen and (max-width: 768px) {
  .schedule-page .mainvisual p {
    font-size: 2.4rem;
  }
}
.schedule-page h3 {
  font-size: 3.2rem;
  text-align: center;
  margin: 100px 0px;
  font-weight: normal;
}
.schedule-page .schedule {
  background-color: #fff;
  padding-bottom: 80px;
  position: relative;
}
.schedule-page .schedule .schedule-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 0px 120px;
  text-align: center;
  font-size: 2rem;
  margin-top: 80px;
  position: relative;
  /*背景色*/
  padding: 3em 1em 2em;
  /*内側余白（上・左右・下）*/
}
@media screen and (max-width: 768px) {
  .schedule-page .schedule .schedule-container {
    flex-direction: column;
    font-size: 1.6rem;
  }
}
.schedule-page .schedule .schedule-container::before {
  position: absolute;
  content: "";
  width: 95%;
  height: 10px;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  border-top: dotted 10px #78C846;
  /*ドットの形・大きさ・色*/
}
.schedule-page .schedule .schedule-container .schedule-left .title {
  font-size: 2.4rem;
  color: #EB6EAA;
  margin-bottom: 20px;
}
.schedule-page .schedule .schedule-container .schedule-left .schedule-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.schedule-page .schedule .schedule-container .schedule-left .schedule-item {
  background-color: #FFEEF4;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.schedule-page .schedule .schedule-container .schedule-left .schedule-item .time {
  font-weight: bold;
  color: #000;
}
.schedule-page .schedule .schedule-container .schedule-left .schedule-item .event {
  color: #000;
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .schedule-page .schedule .schedule-container .schedule-left .schedule-item .event {
    font-size: 1.6rem;
  }
}
.schedule-page .schedule .schedule-container .schedule-left .schedule-item:hover {
  background-color: #FEE1EC;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
.schedule-page .schedule .schedule-container .schedule-right .title {
  font-size: 2.4rem;
  color: #50B4E6;
  margin-bottom: 20px;
}
.schedule-page .schedule .schedule-container .schedule-right .schedule-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.schedule-page .schedule .schedule-container .schedule-right .schedule-item {
  background-color: #e8f5fc;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.schedule-page .schedule .schedule-container .schedule-right .schedule-item .time {
  font-weight: bold;
  color: #000;
}
.schedule-page .schedule .schedule-container .schedule-right .schedule-item .event {
  color: #000;
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .schedule-page .schedule .schedule-container .schedule-right .schedule-item .event {
    font-size: 1.6rem;
  }
}
.schedule-page .schedule .schedule-container .schedule-right .schedule-item:hover {
  background-color: #DAEFFA;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
.schedule-page .handwash {
  width: 15%;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
@media screen and (max-width: 768px) {
  .schedule-page .handwash {
    bottom: 100px;
    left: 20px;
  }
}
.schedule-page .handwash img {
  width: 100%;
}
.schedule-page .peint {
  width: 15%;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
@media screen and (max-width: 768px) {
  .schedule-page .peint {
    bottom: 100px;
    right: 20px;
  }
}
.schedule-page .peint img {
  width: 100%;
}
.schedule-page .info-menu {
  margin-bottom: 250px;
}
@media screen and (max-width: 768px) {
  .schedule-page .info-menu {
    margin-bottom: 80px;
  }
}

.activity-page .mainvisual {
  position: relative;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 背景を疑似要素で指定 */
}
.activity-page .mainvisual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/4864263_s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  /* 透明度を設定 */
  z-index: -1;
  /* 背景をテキストの後ろに */
}
.activity-page .mainvisual p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  z-index: 1;
  /* テキストを前面に */
}
@media screen and (max-width: 768px) {
  .activity-page .mainvisual p {
    font-size: 2.4rem;
  }
}
.activity-page h3 {
  font-size: 4rem;
  text-align: center;
  margin: 100px 0px;
  font-weight: normal;
}
.activity-page .activity .activity-list li {
  display: flex;
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .activity-page .activity .activity-list li {
    flex-direction: column;
  }
  .activity-page .activity .activity-list li:nth-child(2), .activity-page .activity .activity-list li:nth-child(4) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.activity-page .activity .activity-list li .img {
  width: 50%;
  border-radius: 30px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .activity-page .activity .activity-list li .img {
    width: 100%;
  }
}
.activity-page .activity .activity-list li .img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-image-source: repeating-linear-gradient(45deg, #fff, #fff 3px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 6px);
  border-image-slice: 20;
  border-image-repeat: round;
  border-style: solid;
  border-width: 20px;
}
.activity-page .activity .activity-list li img {
  width: 100%;
}
.activity-page .activity .activity-list .description {
  text-align: center;
  width: 50%;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .activity-page .activity .activity-list .description {
    width: 100%;
  }
}
.activity-page .activity .activity-list .description .title {
  position: relative;
  line-height: 1.4;
  padding: 0.25em 1em;
  display: inline-block;
  font-size: 3.2rem;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .activity-page .activity .activity-list .description .title {
    margin: 20px 0px;
    font-size: 2rem;
  }
}
.activity-page .activity .activity-list .description .title::before, .activity-page .activity .activity-list .description .title::after {
  content: "";
  width: 10%;
  height: 30%;
  position: absolute;
  display: inline-block;
}
.activity-page .activity .activity-list .description .title:before {
  border-left: solid 5px #ff5722;
  border-top: solid 5px #ff5722;
  top: 0;
  left: 0;
}
.activity-page .activity .activity-list .description .title:after {
  border-right: solid 5px #ff5722;
  border-bottom: solid 5px #ff5722;
  bottom: 0;
  right: 0;
}
.activity-page .activity .activity-list .description .text {
  font-size: 2rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .activity-page .activity .activity-list .description .text {
    font-size: 1.6rem;
  }
}
.activity-page .info-menu {
  margin-bottom: 250px;
}
@media screen and (max-width: 768px) {
  .activity-page .info-menu {
    margin-bottom: 80px;
  }
}

.recruit-page .mainvisual {
  position: relative;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 背景を疑似要素で指定 */
}
.recruit-page .mainvisual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/4864263_s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  /* 透明度を設定 */
  z-index: -1;
  /* 背景をテキストの後ろに */
}
.recruit-page .mainvisual p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  z-index: 1;
  /* テキストを前面に */
}
@media screen and (max-width: 768px) {
  .recruit-page .mainvisual p {
    font-size: 2.4rem;
  }
}
.recruit-page h2 {
  font-size: 3.2rem;
  text-align: center;
  margin: 100px 0px;
  font-weight: normal;
}
.recruit-page .recruit {
  text-align: center;
  /* タブメニューのスタイル */
}
.recruit-page .recruit ul.tabs {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.recruit-page .recruit ul.tabs li {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ccc;
  color: #ffffff;
  border: 1px solid #ccc;
  margin-right: 5px;
  font-size: 2.4rem;
}
@media screen and (max-width: 768px) {
  .recruit-page .recruit ul.tabs li {
    font-size: 2rem;
  }
}
.recruit-page .recruit ul.tabs li.active {
  background-color: #fff;
  color: #000;
  border-bottom: none;
  font-weight: bold;
}
.recruit-page .recruit .tab-content {
  display: none;
  padding: 3% 5%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: -1px;
  font-size: 2rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .recruit-page .recruit .tab-content {
    font-size: 1.6rem;
  }
}
.recruit-page .recruit .tab-content h3 {
  text-align: center;
}
.recruit-page .recruit .tab-content dl {
  display: flex;
  line-height: 3;
  border-bottom: 1px solid #6BBA6E;
}
@media screen and (max-width: 768px) {
  .recruit-page .recruit .tab-content dl {
    flex-direction: column;
  }
}
.recruit-page .recruit .tab-content dl dt {
  width: 25%;
  color: #6BBA6E;
  font-weight: bold;
}
.recruit-page .recruit .tab-content dl dd {
  width: 75%;
}
.recruit-page .recruit .tab-content.active {
  display: block;
}
.recruit-page .info-menu {
  margin-bottom: 250px;
}
@media screen and (max-width: 768px) {
  .recruit-page .info-menu {
    margin-bottom: 80px;
  }
}

.contact-page .mainvisual {
  position: relative;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 背景を疑似要素で指定 */
}
.contact-page .mainvisual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/4864263_s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  /* 透明度を設定 */
  z-index: -1;
  /* 背景をテキストの後ろに */
}
.contact-page .mainvisual p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  z-index: 1;
  /* テキストを前面に */
}
@media screen and (max-width: 768px) {
  .contact-page .mainvisual p {
    font-size: 2.4rem;
  }
}
.contact-page h3 {
  font-size: 3.2rem;
  text-align: center;
  margin: 100px 0px;
  font-weight: normal;
}
.contact-page .contact {
  text-align: center;
  margin-bottom: 280px;
}
@media screen and (max-width: 768px) {
  .contact-page .contact {
    margin-bottom: 80px;
  }
}
.contact-page .contact p {
  font-size: 1.6rem;
  margin-bottom: 40px;
}
.contact-page .contact form {
  font-size: 1.6rem;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 30px;
  padding: 5% 5%;
}
.contact-page .contact form label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .contact-page .contact form label {
    flex-direction: column;
    align-items: first baseline;
  }
}
.contact-page .contact form label dt {
  width: 35%;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .contact-page .contact form label dt {
    text-align: left;
  }
}
.contact-page .contact form label dd {
  width: 65%;
}
@media screen and (max-width: 768px) {
  .contact-page .contact form label dd {
    width: 100%;
  }
}
.contact-page .contact form input,
.contact-page .contact form textarea {
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
}
.contact-page .contact form textarea {
  padding: 10px;
  height: 100px;
  resize: vertical;
}
.contact-page .contact form input[type=submit] {
  display: block;
  padding: 3% 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}
.contact-page .contact form input[type=submit]:active {
  transform: translateY(4px);
  box-shadow: 0 2px #666;
}
.contact-page .info-menu {
  margin-bottom: 250px;
}
@media screen and (max-width: 768px) {
  .contact-page .info-menu {
    margin-bottom: 80px;
  }
}

.archive-page .mainvisual {
  position: relative;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 背景を疑似要素で指定 */
}
.archive-page .mainvisual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/4864263_s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  /* 透明度を設定 */
  z-index: -1;
  /* 背景をテキストの後ろに */
}
.archive-page .mainvisual p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  z-index: 1;
  /* テキストを前面に */
}
@media screen and (max-width: 768px) {
  .archive-page .mainvisual p {
    font-size: 2.4rem;
  }
}
.archive-page .archive {
  text-align: center;
}
.archive-page .archive .page-section-title {
  text-align: center;
}
.archive-page .archive .archive-wrapper {
  display: flex;
}
@media screen and (max-width: 768px) {
  .archive-page .archive .archive-wrapper {
    flex-direction: column;
  }
}
.archive-page .archive .archive-wrapper .archive-list {
  width: 85%;
}
@media screen and (max-width: 768px) {
  .archive-page .archive .archive-wrapper .archive-list {
    width: 100%;
  }
}
.archive-page .archive .archive-wrapper .archive-list li {
  display: flex;
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .archive-page .archive .archive-wrapper .archive-list li {
    flex-direction: column;
  }
}
.archive-page .archive .archive-wrapper .archive-list li a {
  color: #000;
}
.archive-page .archive .archive-wrapper .archive-list li .img {
  width: 50%;
  height: auto;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .archive-page .archive .archive-wrapper .archive-list li .img {
    width: 100%;
  }
}
.archive-page .archive .archive-wrapper .archive-list li .img img {
  width: 100%;
  border: 5px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.archive-page .archive .archive-wrapper .archive-list li .news-thumbnail {
  height: auto;
}
.archive-page .archive .archive-wrapper .archive-list li .description {
  text-align: center;
  width: 50%;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .archive-page .archive .archive-wrapper .archive-list li .description {
    width: 100%;
  }
}
.archive-page .archive .archive-wrapper .archive-list li .description .title {
  position: relative;
  padding: 1.5rem 2.5rem;
  border: 4px solid #FF8300;
  font-size: 2.4rem;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .archive-page .archive .archive-wrapper .archive-list li .description .title {
    font-size: 2rem;
    margin: 40px 0px;
  }
}
.archive-page .archive .archive-wrapper .archive-list li .description .title:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  content: "";
  border: 4px dotted gray;
}
.archive-page .archive .archive-wrapper .archive-list li .description .date {
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 20px;
}
.archive-page .archive .archive-wrapper .archive-list li .description .category {
  text-align: left;
  font-size: 1.6rem;
}
.archive-page .archive .archive-wrapper .archive-list li .description .text {
  font-size: 1.6rem;
  text-align: left;
}
.archive-page .archive .archive-wrapper .sidebar-list {
  width: 15%;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .archive-page .archive .archive-wrapper .sidebar-list {
    width: 100%;
  }
}
.archive-page .archive .archive-wrapper .sidebar-list h3 {
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem 1rem 4rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #FF8300;
  margin-top: 20px;
}
.archive-page .archive .archive-wrapper .sidebar-list h3:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #fff;
}
.archive-page .archive .archive-wrapper .sidebar-list li {
  font-size: 1.6rem;
  line-height: 3;
  border-bottom: 1px solid #000;
  position: relative;
  padding-left: 20px;
  /* 三角形の右に余白を追加 */
}
@media screen and (max-width: 768px) {
  .archive-page .archive .archive-wrapper .sidebar-list li {
    font-size: 1.6rem;
  }
}
.archive-page .archive .archive-wrapper .sidebar-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #000;
  /* 三角形の色を指定 */
  width: 0;
  height: 0;
  margin-right: 40px;
}
.archive-page .archive .archive-wrapper .sidebar-list li a {
  color: #000;
}
.archive-page .archive .archive-wrapper .sidebar-list li a:hover {
  color: gray;
}
.archive-page .info-menu {
  margin-bottom: 250px;
}
@media screen and (max-width: 768px) {
  .archive-page .info-menu {
    margin-bottom: 80px;
  }
}
/*# sourceMappingURL=style.css.map */