@use "mixin" as m;

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Zen Maru Gothic", serif;
    background-color: #FBFBF0;
    line-height: 1.7;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 3%;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 3%;
}

.section-title {
    text-align: center;
    /* タイトルを中央揃えに変更 */
    margin: 40px 0px;

    .en {


        font-family: "Rubik Dirt", system-ui;
        font-size: 3.2rem;
        color: #364178;
        display: inline-block;
        /* inline-blockを維持 */
        position: relative;
        margin-bottom: 10px;
        /* 下の日本語との間隔を調整 */

        @include m.sp {
            font-size: 2.4rem;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            /* アンダーラインをテキスト幅に合わせる */
            height: 4px;
            background-color: #000;
        }
    }

    .ja {
        font-size: 1.6rem;
        color: #364178;
        display: block;
        /* 日本語を下に配置 */
        margin-top: 10px;

        /* 英語と日本語の間にスペースを追加 */
        @include m.sp {
            font-size: 1.6rem;
        }

    }
}

.btn {
    padding: 20px 20px;
    // background-color: #364178;
    border-radius: 30px;
    margin-left: auto;
    /* 左右のマージンを自動で調整 */
    margin-right: auto;
    /* 左右のマージンを自動で調整 */
    display: block;
    /* ブロック要素にすることで中央配置が有効に */
    width: fit-content;
    /* ボタンの幅をコンテンツに合わせる */

    a {
        color: #fff;
        display: block;
        text-align: center;
        /* テキストを中央揃え */
        text-decoration: none;
        /* リンクの下線を削除 */
        font-size: 1.6rem;
    }
}


.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../img/a746ed11-6a37-45dd-9662-9a4407665aa0.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 555;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader-item {

        display: flex;
        flex-direction: column;
        /* 子要素を縦に並べる */
        justify-content: center;
        align-items: center;
        /* 画像とテキストを中央揃えに */
        position: relative;
    }

    img {
        width: 350px;
    }

    .txt {
        font-size: 3.2rem;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 2px 2px 2px #555;
        display: none;
        z-index: 600;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

}

.fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: all 2s;
}





// header
.header {
    height: 100px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3%;

    @include m.sp {
        height: 50px;
    }

    &-logo {


        img {
            width: 180px;
            height: 100px;

            @include m.sp {
                width: 90px;
                height: 50px;
            }

        }
    }

    .header-nav {
        text-align: center;

        .header-nav-list {
            display: flex;
            align-items: center;
            justify-content: center;

            @include m.sp {
                flex-direction: column;
                justify-content: flex-start;
                /* 左寄せにする */
                align-items: baseline;
                margin-top: 120px;
                margin-left: 20px;
            }

            li {
                font-size: 1.6rem;
                align-items: center;
                margin: 0 20px;
                ;

                @include m.sp {
                    margin: 20px 0px;

                }

                a {
                    color: #000;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    /* 要素を縦方向に並べる */
                    align-items: center;
                    /* アイコンとテキストを中央揃えにする */

                    @include m.sp {
                        flex-direction: row;
                        /* SP時は横並び */
                        justify-content: flex-start;
                        /* 左寄せにする */
                        align-items: center;
                        /* 縦方向は中央揃え */
                        gap: 8px;
                        /* アイコンとテキストの間に余白を追加 */
                        width: 100%;
                        text-align: left;
                        /* テキストとアイコンを左寄せ */
                    }

                    &::before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: gray;
                        position: absolute;
                        inset: 110% auto auto 0;
                        transform: scale(0, 1);
                        transition: transform 0.2s ease-out;
                    }

                    &:hover::before {
                        transform: scale(1, 1);
                    }

                    i {
                        display: inline-block;
                        margin-right: 8px;
                        /* SP時はアイコンとテキストの間に余白 */
                        flex-shrink: 0;
                        /* アイコンが縮小されないようにする */

                        @include m.sp {
                            margin-right: 8px;
                            flex-grow: 0;
                            /* アイコンを左寄せに */
                        }
                    }

                    span {
                        display: inline-block;
                        flex-grow: 1;
                        /* テキストがアイコンの右側に広がるように */
                    }

                    .fa-house-chimney {
                        color: #364178;
                    }

                    .fa-heart {
                        color: rgb(254, 102, 102);
                    }

                    .fa-envelope {
                        color: rgb(255, 230, 0);
                    }

                    .fa-clock {
                        color: green;
                    }
                }

            }

        }

        .top-page.btn {
            background-color: #FFEB14;
            font-weight: bold;
            margin-top: 20px;
            transition: all 0.5s;
            display: none;

            @include m.sp {
                display: block;
            }


            @include m.sp {
                font-size: 1.6rem;
            }

            &:hover {
                background-color: #4EC336;

                // .form.btnがhoverされたときにa要素の色を変える
                a {
                    color: #FFEB14;
                }
            }

            // 通常のa要素の色
            a {
                color: #4EC336;
                display: block;

                @include m.sp {
                    font-size: 1.6rem;
                }
            }

        }


        @include m.sp {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            opacity: 1;
            /* 透明度はここで1に設定して、ナビゲーション自体は透過しない */
            transition: all 0.5s;
            z-index: 20;
            background-color: #ffffff;

            /* 背景色はそのまま透過なし */
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: url('../img/4864263_s.jpg');
                background-size: cover;
                background-position: center;
                opacity: 0.1;
                /* ここで背景画像のみを透過 */
                z-index: -1;
                /* 背景画像を下層に配置 */
            }
        }


        // is-openクラスがついたときに右から出てくる
        &.is-open {
            opacity: 1;
            // opacityを1にして、navが完全に表示されるようにします。
            right: 0;


        }
    }

    .toggle-btn {
        display: none;

        @include m.sp {
            display: block; // SPでは表示
            width: 30px;
            height: 30px;
            position: absolute;
            top: 15px;
            right: 10px;
            z-index: 30;
            cursor: pointer;
            transition: 0.3s;
        }

        span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: #000;
            margin-bottom: 5px;
            transition: 0.3s;
        }

        // アイコンの変化
        &.active {
            span:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);

            }
        }
    }
}


// ぱんくずリスト

.breadcrumb {
    margin: 0;
    padding: 0.8% 3%;
    list-style: none;
    text-align: left;
    background-color: #efefef;

    li {
        display: inline;
        /*横に並ぶように*/
        list-style: none;
        font-weight: bold;
        font-size: 1.6rem;


        /*太字*/
        &:after {
            /* >を表示*/
            content: '>';
            padding: 0 0.2em;
            color: #555;
        }

        &:last-child:after {
            content: '';
        }

        a {
            text-decoration: none;
            color: #555;

            /*色*/
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.info-menu {
    margin-top: 80px;

    .info-item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* 4列のグリッド */
        gap: 32px;

        @include m.sp {
            grid-template-columns: 1fr;
            /* 1列に変更 */
        }

        .img {
            position: relative;
            border: 10px solid #fff;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
            transform: rotate(calc(-10deg + 10deg * random()));
            transition: transform 0.3s;
            margin-left: auto;
            margin-right: auto;
            width: 70%;

            @include m.sp {
                width: 70%;
            }

            &:hover {
                transform: rotate(0);
                /* ホバー時に回転をリセット */
            }



            img {
                width: 100%;
                display: block;

                @media (max-width: 768px) {

                    margin: 0 auto;
                    /* 画像を中央揃え */
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: -20px;
                left: 50%;
                width: 110px;
                height: 30px;
                background-image: url('../img/masking-tape-pattern.png');
                background-size: cover;
                /* 背景画像を全体にフィット */
                z-index: 2;
                border-radius: 2px;
                transform: translateX(-50%) rotate(-10deg);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
        }



        .text {
            text-align: center;
            padding: 5% 5%;

            @include m.sp {
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }

            .title {
                font-size: 2.4rem;
                margin: 20px 0px;
                color: #0f4114;
                font-weight: bold;
                text-shadow: 5px 5px 5px #ffffff;

                @include m.sp {
                    font-size: 2.0rem;
                }

            }

            .description {
                font-size: 1.6rem;
                text-align: left;
                color: #000;
            }
        }


        .btn {
            background-color: #F2A9A8;
            margin-bottom: 20px;
            padding: 3%;
            margin-left: auto;
            margin-right: auto;
            width: 40%;

            a {
                color: #ffffff;
                text-shadow: 2px 2px 2px gray;
                display: block;
                text-align: center;
                /* テキストを中央揃え */
                text-decoration: none;
                /* リンクの下線を削除 */
                font-size: 1.6rem;
            }

        }



        .arrow-right {
            display: inline-block;
            vertical-align: middle;
            color: #333;
            position: relative;
            width: 30%;
            height: 3px;
            background: currentColor;
            margin-left: auto;
            margin-right: 0;

            &::before {
                content: '';
                width: 10px;
                height: 3px;
                border: 1px solid currentColor;
                border-left: 0;
                border-bottom: 0;
                transform: rotate(45deg);
                transform-origin: top right;
                position: absolute;
                top: 50%;
                right: -0.05em;
                box-sizing: border-box;
            }
        }

    }
}


// hover時にbtnが揺れる
.yureru-j {

    &:hover {

        animation: yureru-j 2s infinite;

    }

    @keyframes yureru-j {
        0% {
            transform: translate(0px, 2px);
        }

        5% {
            transform: translate(0px, -2px);
        }

        10% {
            transform: translate(0px, 2px);
        }

        15% {
            transform: translate(0px, -2px);
        }

        20% {
            transform: translate(0px, 2px);
        }

        25% {
            transform: translate(0px, -2px);
        }

        30% {
            transform: translate(0px, 0px);
        }
    }
}

#top-to-btn {
    display: none;
    /* 初期状態では非表示 */
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    width: 200px;
    height: 200px;
    background-image: url('../img/page\ top\ \(2\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
    animation: float 3s ease-in-out infinite;
    /* ふわふわと動くアニメーション */

    @include m.sp {
        width: 50px;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

// footer
footer {
    height: 860px;
    /* footerの高さに合わせる */
    background-image: url('../img/footer-img6.png');
    background-size: cover;
    /* 画像を切らずに全体を表示 */
    background-position: center;
    /* 中央に配置 */
    background-repeat: no-repeat;

    @include m.sp {
        background-position: 0px 30px;
        /* 左から10px、上から30pxに調整 */
    }


    /* 画像を繰り返さない */
    .text {
        text-align: center;
        padding-top: 60px;

        h3 {
            font-size: 3.2rem;

            @include m.sp {
                font-size: 2.4rem;
            }

        }

        .tel {
            font-size: 6.4rem;
            color: #ff5722;
            text-shadow: 3px 3px 3px #e3e3e3;
            font-weight: bold;

            @include m.sp {
                font-size: 4.0rem;
            }




        }



        p {
            font-size: 1.6rem;
            font-weight: 500;

            span {
                padding-right: 5px;
                font-weight: bold;
            }
        }

        i.fa-phone-volume {
            margin-right: 8px;
            /* アイコンとテキストの間に余白を追加 */
        }
    }

    .form.btn {
        background-color: #FFEB14;
        font-weight: bold;
        margin-top: 20px;
        transition: all 0.5s;

        @include m.sp {
            font-size: 1.6rem;
            margin-top: 10px;
            padding: 10px 20px;
        }

        &:hover {
            background-color: #4EC336;

            // .form.btnがhoverされたときにa要素の色を変える
            a {
                color: #FFEB14;
            }
        }

        // 通常のa要素の色
        a {
            color: #4EC336;
            display: block;

            @include m.sp {
                font-size: 1.6rem;
            }
        }

        i.fa-envelope {
            margin-right: 8px;
            /* アイコンとテキストの間に余白を追加 */
        }
    }
}





// 下層ページのセクションタイトル
.page-section-title {
    font-size: 3.6rem;
    text-align: center;
    margin: 100px 0px 60px 0px;
    font-weight: normal;
    display: inline-block;
    position: relative;

    @include m.sp {
        font-size: 2.0rem;
    }



    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 7px;
        background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
        background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);

        @include m.sp {
            bottom: -10px;
        }
    }


}