// $pc: 1080px;
$tb: 1024px;
$sp: 768px;
$ln: 390px;



@mixin tb {
    @media screen and (max-width: ($tb)) {
        @content;
    }

}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }

}

@mixin ln {
    @media screen and (max-width: ($ln)) {
        @content;
    }

}