@use "mixin" as m;

.top-page {



    .mainvisual {
        position: relative;
        width: 100%;
        height: calc(100vh - 100px);
        overflow: hidden;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;

        .pc-mainvisual {
            @include m.sp {
                display: none;
            }
        }

        .sp-mainvisual {
            display: none;

            @include m.sp {
                display: block;
            }
        }


        /* 余計なはみ出しを隠す */
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* 画像全体を表示し、アスペクト比を保持 */
        }



        .copy {
            position: absolute;
            bottom: 10%;
            right: 10%;
            writing-mode: vertical-rl;
            font-family: "Kiwi Maru", serif;

            @include m.sp {
                writing-mode: horizontal-tb;
                right: 5%;
                bottom: 8%;
            }

            p {
                font-size: 6.4rem;
                color: #ffffff;
                text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.61);
                font-weight: 400;

                @include m.sp {
                    font-size: 4.0rem;
                }

                &:nth-child(2) {
                    margin-top: 100px;

                    @include m.sp {
                        margin-left: 40px;
                        margin-top: 0px;
                    }
                }
            }
        }

    }

    .eachTextAnime span {
        opacity: 0;
    }

    .appeartext span {
        animation: text_anime_on 3s ease-out forwards;
    }

    @keyframes text_anime_on {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .firstText.appeartext span {
        animation-delay: 0s;
        /* 最初のテキストの遅延なし */
    }

    .secondText.appeartext span {
        animation-delay: 1.5s;
        /* 2番目のテキストを2秒遅らせて表示 */
    }

    // message
    .message {

        p {
            padding: 20px 80px;
            font-size: 1.8rem;
            margin-bottom: 60px;

            @include m.sp {
                padding: 20px 20px;
            }
        }

        .btn {
            background-color: #364178;
            margin-top: 40px;
            margin-bottom: 40px;

        }

        .border {
            border-bottom: 5px dotted green;
            position: relative;

            img {
                width: 150px;
                position: absolute;
                right: -40px;
                top: -150px;

                @include m.sp {
                    width: 75px;
                    top: -75px;
                    right: -10px;
                }
            }
        }
    }

    // about
    .about {
        position: relative;

        .contents {
            display: flex;
            align-items: center;

            @include m.sp {
                flex-direction: column;
            }

            .sun {
                position: absolute;
                top: 0;
                left: 10%;

                @include m.sp {
                    left: 0;
                    top: -3%;
                }

                img {
                    width: 50%;

                    @include m.sp {
                        width: 25%;
                    }
                }
            }

            .text {
                width: 50%;
                padding: 20px 40px;
                background-color: #fff;
                border-radius: 30px;

                @include m.sp {
                    width: 100%;
                    margin-bottom: 40px;
                    padding: 20px 20px;
                }

                h3 {
                    font-size: 3.2rem;
                    color: #000;
                    margin-bottom: 20px;
                    padding: 10px 10px 10px 10px;
                    border-style: solid;
                    border-width: 0px 0px 0px 10px;
                    border-color: #FF8000;

                    @include m.sp {
                        font-size: 2.4rem;
                    }
                }



                p {
                    font-size: 1.6rem;


                }
            }

            .img {
                width: 50%;

                @include m.sp {
                    width: 70%;
                    margin-bottom: 40px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .contents.one {
            .text {
                margin-right: 40px;

                @include m.sp {
                    margin-right: 0;
                }
            }
        }

        .contents.two {
            @include m.sp {

                flex-direction: column-reverse;
            }

            .text {
                margin-left: 40px;

                @include m.sp {
                    margin-left: 0;
                }
            }
        }



        .bird {
            width: 300px;
            /* 鳥のイラストのサイズに合わせて調整 */
            height: 100px;
            animation: fly 3s ease-in-out infinite;
            position: absolute;
            bottom: -50px;
            right: 20px;

            @include m.sp {
                width: 150px;
                bottom: -75px;
            }

            img {
                width: 100%;
                /* イラストが親要素にフィットする */
            }
        }

        @keyframes fly {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
                /* 鳥が上に飛ぶ */
            }

            100% {
                transform: translateY(0);
                /* 元の位置に戻る */
            }
        }


    }



    // news
    .news {
        margin-top: 80px;

        .news-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;

            @include m.sp {
                grid-template-columns: none;
            }


            li {
                a {
                    color: #000;
                }

                font-size: 1.6rem;
                position: relative;
                /* 画像とテキストを重ねるためにrelativeを使用 */
                overflow: hidden;
                /* 子要素がはみ出ないようにする */

                .img {
                    position: relative;
                    width: 100%;
                    /* 画像の幅を100%にする */
                    height: 200px;
                }

                img {
                    width: 100%;
                    /* 画像の幅を親要素にフィット */
                    height: 200px;
                    object-fit: cover;
                    /* 画像のアスペクト比を保つ */
                    transition: 0.3s ease;
                    /* ホバー時の画像の変化をスムーズに */
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    /* 半透明の黒いオーバーレイ */
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    /* 初期状態では非表示 */
                    transition: opacity 0.3s ease;
                    /* ホバー時のフェードインをスムーズに */
                    font-size: 2rem;
                    font-weight: bold;
                    text-align: center;
                }

                .thumbnail {
                    height: auto;
                }

                .text {
                    text-align: left;
                    /* テキストを左寄せに */
                    margin-top: 20px;
                }

                &:hover .img img {
                    filter: brightness(50%);
                    /* ホバー時に画像を暗くする */
                }

                &:hover .overlay {
                    opacity: 1;
                    /* ホバー時にオーバーレイを表示 */
                }
            }
        }

        .btn {
            background-color: #865E49;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px 40px;

            a {
                color: #ffffff;
                display: block;
                text-align: center;
                /* テキストを中央揃え */
                text-decoration: none;
                /* リンクの下線を削除 */
                font-size: 1.6rem;
            }

        }
    }


    // access
    .access {
        margin-top: 80px;
        margin-bottom: 200px;

        @include m.sp {
            margin-bottom: 80px;
        }

        .access-inner {
            display: flex;
            align-items: center;

            @include m.sp {
                flex-direction: column;
            }

            .info {
                width: 50%;
                background-color: #fff;
                border-radius: 30px;
                margin-right: 40px;

                @include m.sp {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 20px;
                }

                .access-list {
                    display: flex;
                    font-size: 1.6rem;
                    padding: 3% 5%;

                    @include m.sp {
                        flex-direction: column;
                    }

                    dt {
                        width: 20%;
                    }

                    dd {
                        width: 80%;
                    }
                }
            }

            .map-img {
                width: 50%;

                @include m.sp {
                    width: 100%;
                }


                img {
                    width: 70%;

                    @include m.sp {
                        width: 100%;
                    }
                }
            }
        }
    }
}